body {
    background-color: green;
}
div {
    background-color: yellow ;
    border-style: solid;
    font-size: xx-large;
    border-color: black;
    text-align: center;
    white-space: 20;
               
}
table {
    border-collapse: collapse;
    width: 100%
}
th, td {
    background-color: yellow;
    padding: 10px;
    font-size: x-large;
    text-align: left;
    border-bottom: 1px solid brown;
}

tr:hover {
    background-color: whitesmoke;
}

h2 {
    text-emphasis-color: pink;
}

form {
    background-color: yellow;
    text-align: center;
    font-size: x-large;
}