body {
    background-color: Green;
}
div {
    background-color: yellow ;
    border-style: solid;
    font-size: xx-large;
    border-color: black;
    text-align: center;
    white-space: 20;
               
}
table {
    border-collapse: collapse;
    width: 100%
}


 h2 {
    text-align: center;
 }

 .shadow-text {
    text-shadow: gray 1px 1px;
}
#large-paragraph {
    font-size: 30px;
}

